/* component.css */

.container {
  background-color: #fff;
  padding: 2.5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  border-color: #dc2626;
  padding-bottom: 1rem;
}

.logo {
  height: 8rem;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 300;
}

.section {
  margin-top: 1.5rem;
}

.section-title {
  font-size: 1.5rem;
  color: #dc2626;
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

.column {
  flex: 1;
}

.award-image {
  height: 20rem;
}
.second-column-image {
  height: 12rem;
}

.saving-text {
  font-size: 1.125rem;
}

.product-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.product-image {
  height: 6rem;
  margin-bottom: 1rem;
}

.footer {
  border-top-width: 2px;
  border-color: #dc2626;
  padding-top: 1rem;
}

.footer-text {
  font-size: 0.875rem;
}

.footer-subtitle {
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.footer-categories {
  font-size: 0.75rem;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8b0000;
  height: 120px;
}

.contact-item {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.phone-icon,
.facebook-icon,
.globe-icon {
  color: #fff;
}

.contact-info {
  color: #fff;
}
