/* Footer.css */
.footer {
  border-top-width: 2px;
  border-color: #ff5959;
  padding-top: 1rem;
}

.footer-subtitle {
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  text-align: center; /* Center align the text */
}

.footer-categories {
  font-size: 1rem;
  text-align: center; /* Center align the text */
}

.footer-categories .category-group {
  display: block;
  margin-bottom: 0.5rem;
}

.footer-contact {
  display: flex;
  justify-content: space-around; /* Add space around items */
  align-items: center; /* Align items vertically */
  background-color: #fb3737;
  height: 120px;
  padding: 0 1rem; /* Add padding to the sides */
}

.contact-item {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.phone-icon,
.facebook-icon,
.globe-icon {
  color: #fff; /* Customize color as needed */
}

.contact-info {
  color: #fff;
}

.vertical-line {
  color: red;
}
/* Footer.css */
.icon-circle {
  width: 40px; /* Set width and height for the circle */
  height: 40px;
  border-radius: 50%; /* Make it a circle */
  background-color: #dc2626; /* Background color for the circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-icon {
  color: #fff; /* Color of the phone icon */
}
